
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
   <link rel="stylesheet" href="/css/style.css">
   <link rel="shortcut icon" href="/images/seeting.png" type="image/x-icon">
   <title>KhataBook | Edit </title>
</head>
<body>
    <nav>
        <div id="left"><a href="#">KhataBook</a>
        </div>
        <div id="right">
            <span><a href="/">Home</a></span>
            <span><a href="/create">Create New Hisab </a></span>
        </div>
    </nav>
   
    <form action="/update/<%= fileName %>" class="c_form" method="post">
         <h2>Edit your hisab..</h2>
         <textarea name="content" placeholder="enter your all hisab here"><%= data %></textarea>
         <button type="submit" class="submit-btn">Re-submit</button>
    </form>

</body>
</html>