
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
  <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div id="left"><a href="#">KhataBook</a>
        </div>
        <div id="right">
            <span><a href="/">Home</a></span>
            <span><a href="/create">Create New Hisab </a></span>
        </div>
    </nav>
   
      <div id="container">
           <h3>Hisab of <span><%= fileName.split(".")[0] %></span> date</h3>
           <div class="info">
                <%= data %>
           </div>
      </div>

</body>
</html>