<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <div id="left"><a href="#">KhataBook</a>
        </div>
        <div id="right">
            <span><a href="/">Home</a></span>
            <span><a href="/create">Create New Hisab </a></span>
        </div>
    </nav>

    <h3 class="mt-1">All Hisab Kitab</h3>

    <div id="hisabs">
          <% if(files.length > 0){ %>
                 
         <%   files.forEach((files)=>{ %>
                  
            <div class="hisab">
                <div class="left">
                  <a href="/showhisab/<%=files%>">
                  <span class="date"><%=files.split(".")[0]%></span>
                  <span class="arrow"><i class="ri-arrow-right-circle-fill"></i></span>
                  </a>
                </div>
                <div class="right">
                  <a href="/edit/<%= files %>"><span><i class="ri-edit-line"></i></span></a>
                  <a href="/delete/<%= files %>"><span><i class="ri-delete-bin-line"></i></span></a>
                </div>
            </div>

         <%    }) %>

         <% }else{ %>
              <h3 class="g-txt">Nothing to show ,please create new hisab....</h3>
        <%  }
         %>
          
    </div>
</body>
</html>